{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row full-row"><h1>{{item.name}}</h1></div>
{% if user_status == 'creator' %}
	<div class="row full-row">
		<a href="{{url_for('editItem', item_id = item.id)}}" class="btn btn-default btn-xs">edit</a>
		<a href="{{url_for('deleteItem', item_id = item.id)}}" class="btn btn-default btn-xs">delete</a>
	</div>
{% endif %}

<div class="row">
	<div class="col-sm-4">
		{% if item.image %}
		<img src="/uploads/{{item.image}}" alt="image for {{item.name}}" style="max-width:200px"></img>
		{% endif %}
	</div>
	<div class="col-sm-8">
		{{ item.description }}<br>
		<br>
		Price:  {{ item.price }}<br>
		Category:  {{ category.name }}<br>
	</div>
</div>

{% if user_status == 'creator' %}
	<div class="row full-row">
		<a href="{{url_for('editItem', item_id = item.id)}}">edit</a>
		<a href="{{url_for('deleteItem', item_id = item.id)}}">delete</a>
	</div>
{% endif %}

{% endblock %}